{% block form_row %}
    {% spaceless %}
        <div class="form-field-row
            {%- if errors|length > 0 -%} has-error{%- endif -%}
        ">
            {% if form.children|length %}
                    <div class="btn-group btn-group-vertical pull-right form-row-icons">
                        <div class="delete-icon btn">
                            <a href="#" class="form-row-delete"><i class="fa fa-trash fa-lg"></i></a>
                        </div>
                        <div class="expand-icon btn">
                            <a href="#" class="form-row-expand"><i class="fa fa-caret-down fa-lg"></i></a>
                        </div>
                    </div>
                <div class="sort-handle"><i class="fa fa-sort"></i></div>
                <div class="row outer-row well">
                    <div class="col-xs-12">
                        
            {% else %}
                {% set class = form.vars.name~'-row' %}
                <div class="col-xs-3 field-row-container {{class~'-container'}}">
            {% endif %}
                    {% if not form.children|length %}
                        
                        {{ form_label(form, '', {'label_attr': {'class':'control-label x-small' } }) }}
                    {% endif %}
                    {{ form_widget(form, {'attr' : { 'class' : class } }) }}
                    {% if form.vars.attr.help %}
                        <small>{{ form.vars.attr.help }}</small>
                    {% endif %}
                    {{ form_errors(form) }}
                </div>
        </div>
        {% if form.children|length %}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock form_row %}