{% block fields_row %}
    {% spaceless %}
        <div class="form-field-row">
            <div class="btn-group btn-group-vertical pull-right form-row-icons">
                <a title="Delete field" href="#" class="btn btn-default form-row-delete"><i class="fa fa-trash fa-lg"></i></a>
                <a title="Expand Options" href="#" class="btn btn-default form-row-expand"><i class="fa fa-caret-down fa-lg"></i></a>
            </div>
            <div class="sort-handle"><i class="fa fa-sort"></i></div>
            <div class="row outer-row well">
                <div class="col-xs-12">
                    {% for field in form %}
                        {{form_row(field)}}
                        {{dump(extendedFields)}}
                    {% endfor   %}
                </div>
            </div>
        </div>
    {% endspaceless %}
{% endblock fields_row %}

{% block form_row %}
    {% spaceless %}
        <div class="form-field-row
            {%- if errors|length > 0 -%} has-error{%- endif -%}
        ">
            {% set class = form.vars.name~'-row' %}
            <div class="col-xs-3 field-row-container {{class~'-container'}}">
                {{ form_label(form, '', {'label_attr': {'class':'control-label x-small' } }) }}
                {{ form_widget(form, {'attr' : { 'class' : class } }) }}
                {% if form.vars.attr.help %}
                    <small>{{ form.vars.attr.help }}</small>
                {% endif %}
                {{ form_errors(form) }}
            </div>
        </div>
    {% endspaceless %}
{% endblock form_row %}
